---
import { translations } from '../data/lang.js';

type Lang = 'en' | 'fr';


const { lang } = Astro.props as { lang: Lang };

const t = translations[lang] || translations['en'];

console.log(t.content.home.headline);

---
 <section class="relative  bg-whitey py-20 px-16 w-[100vw]  h-auto left-0 ">
    <div class="flex flex-col space-y-6 max-w-[70ch]">
        <h2 class="text-h2 font-bold text-blue border-b-4 border-blue">{t.content.about.headline} </h2>

        <h4 class="text-h4 text-green-dark font-inter max-w-[25ch]">
        <span class="font-bold">{t.content.about.subheadlineBold} </span> {t.content.about.subheadline} 
        </h4>

        <p>
      {t.content.about.content1} 
        </p>

        <p>
       {t.content.about.content2} 
        </p>
    </div>
    <!-- Section SKILLS -->
    <div class="mt-12 px-6 skills-section" id="skills" >
        <h3 class="text-h3 font-bold text-blue mb-10 text-end">{t.content.about.skills} </h3>

        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-6 place-items-center h-[50vh] mb-28">
            <img src="/assets/skills/photoshop.png" alt="Photoshop" class="skill-icon" />
            <img src="/assets/skills/illustrator.png" alt="Illustrator" class="skill-icon" />
            <img src="/assets/skills/php.png" alt="PHP" class="skill-icon" />
            <img src="/assets/skills/js.png" alt="JavaScript" class="skill-icon" />
            <img src="/assets/skills/css.png" alt="CSS" class="skill-icon" />
            <img src="/assets/skills/lightroom.png" alt="Lightroom" class="skill-icon" />
            <img src="/assets/skills/laravel.png" alt="Laravel" class="skill-icon" />
            <img src="/assets/skills/figma.png" alt="Figma" class="skill-icon" />
            <img src="/assets/skills/flag_france.png" alt="French" class="skill-icon" />
            <img src="/assets/skills/flag_america.png" alt="English" class="skill-icon" />
        </div>
    </div>
    <!-- Grille en 2 lignes, 2 colonnes -->
    <div class="grid md:grid-cols-2 grid-rows-[auto_1fr] gap-x-12 gap-y-8">
        <!-- Ligne 1 -->
        
        <!-- vide en haut à gauche -->
        <!-- <div></div> -->
        <!-- <div>
            <h4 class="text-h4 font-bold text-blue flex items-center gap-2 justify-center">
                <img src="/assets/goal.png" alt="" class="w-11 h-11" />
               {t.content.about.searching.headline} 
            </h4>
        </div> -->

        <!-- Ligne 2 -->
        <div class="flex flex-col gap-6 h-full">
            <h4 class="text-h4 font-bold text-blue">{t.content.about.fun.headline} </h4>
            <div class="flex flex-col gap-6 h-full justify-end">
                <div class="bg-purple-light border border-purple-darker text-p p-6 rounded-2xl">
                {t.content.about.fun.content1}
                </div>
                <div class="bg-purple-light border border-purple-darker text-p p-6 rounded-2xl">
                 {t.content.about.fun.content2}
                </div>
                <div class="bg-purple-light border border-purple-darker text-p p-6 rounded-2xl">
                 {t.content.about.fun.content3}
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-6 h-[full]  items-end justify-end">
            <h4 class="text-h4 font-bold text-blue flex items-center gap-2 justify-center">
                <img src="/assets/goal.png" alt="" class="w-11 h-11" />
               {t.content.about.searching.headline} 
            </h4>
            <div class="flex flex-col justify-evenly h-full w-full bg-orange-light border border-orange-dark rounded-2xl ">
                <div class=" text-p p-6 rounded-2xl">
                {t.content.about.searching.content1}
                </div>
                <div class=" text-p p-6 rounded-2xl">
                {t.content.about.searching.content2}
                </div>
               
            </div>
        </div>

        <!-- <div class="h-full flex">
            <div class="bg-orange-light  text-blue  p-6 rounded-2xl shadow flex flex-col justify-around h-full w-full">
                <p>
                I’m currently looking for my first job as a front-end developer. I enjoy building clean, modern, and accessible interfaces —
                from thoughtful HTML/CSS structure to smooth micro-interactions and responsive layouts. I’d love to join a team that values
                quality code, collaboration, and visual precision.
                </p>
                <p >
                What I’m looking for is a space where I can grow as a front-end developer while leveraging my design eye and UI sensitivity.
                I want to contribute to projects that matter, take time to do things well, and explore how code and creativity can work together
                to build beautiful, efficient, and human-centered experiences.
                </p>
            </div>
        </div> -->
    </div>
<!-- <a href="". class=" uppercase p-4 rounded-2xl text-center m-11 bg-purple-darker">Download my resume</a> -->
<a href="" class="uppercase p-4 rounded-2xl text-center bg-purple-darker text-white block mx-auto max-w-80 mt-14">
  {t.content.about.btn}
</a>
    <!-- image positionnée en dehors du flux -->
    <img src="/assets/avatar_about.png" alt="" class="w-[400px] absolute right-20 top-20" />
</section>